body {
    background-color: grey;
}



ul {
    position: fixed;
    display: grid;

}

il {
    display: inline-block;
    columns: 4;

}

#deleteGrup {
    width: 15px;
    height: 15px;
}

#addGrup {
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px 2px;
    left: 90%;
    position: absolute;

}

button {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button:hover {
    background-color: green;
    color: white;
}